@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

/* .App {
  text-align: left;
}

.piechart {
  height: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: dark;
}

.App-link {
  color: #61dafb;
}
.header{
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h1 {
  /* margin-bottom: 20px; */


/* .header {
  text-align: left;
  margin-top: 20%;  Remove any margins 
  padding: 10px;  Optional padding for spacing around the header 
  color: #000;
  font-family: 'Oswald';
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.sidebar h1{
  margin: 20px;
}
.sidebar{
  width: 100%;
  background-color: black;
  text-align: left;
  margin-top: 20%;
  color: #ffffff;
  font-family: 'Oswald';
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.subheaders{
  text-align: left;
  width: 100%;
}

.emptyspace{
  padding: 10%;
} */

/* App.css */
body {
  background-color: white;
  color: black;
}

.header {
  margin-top: 20%;
  color: white;
  font-family: 'Oswald';
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
}

.caption {
  color: rgb(193, 193, 193);
  text-align: left;
  margin: 0px;
}

.maincomponent {
  background: linear-gradient(to bottom,#141414, #444444);
  padding: 20px;
  padding-bottom: 15%;
}

.subheaders {
  text-align: left;
  margin-top: 20px;
}

.dropdown {
  text-align: left;
  margin-top: 10px;
}

.secondcomponent{
  background-color: white;
  width: 100%;
  margin: 20px;
  padding-top: 20px;
  
}